@tailwind base;
@tailwind components;
@tailwind utilities;

  //////ChatGPT

  /* html, body {
    margin: 0;
    padding: 0;
  } */


  

/* CSS for buttons inside Headerbuttoncontainer */
.Headerbuttoncontainer button {
  /* Add your specific styles here */
  /* For example: */
  background-color: black;
  color: white;
}







.input-container {
  display: flex;
  margin-bottom: 40px; /* Add margin to the bottom of the input container */
}

#todoInput {
  margin: 10px; /* Add margin to the bottom of the input container */
  /* flex: 1; Grow to fill available space */
  border: 1px solid #ccc; /* Add a solid border with color #ccc */
  padding: 5px; /* Add padding inside the input field */
  box-sizing: border-box; /* Include padding and border in the input field's total width */
  margin-right: 20px; /* Add margin to the right of the input field */
  width: 80%;
}

#todoInput:focus {
  outline: none; /* Remove the outline when input field is focused */
}

/* CSS for Autocomplete input */
.pac-container {
  width: 500px; /* Adjust the width as needed */
}

#locationInput {
  margin: 10px; /* Add margin to the bottom of the input container */
  border: 1px solid #ccc; /* Add a solid border with color #ccc */
  padding: 5px; /* Add padding inside the input field */
  box-sizing: border-box; /* Include padding and border in the input field's total width */
  width: 80%;
}

#locationInput:focus {
  outline: none; /* Remove the outline when input field is focused */
}

#dueDateInput {
  margin: 10px; /* Add margin to the bottom of the input container */
  /* flex: 1; Grow to fill available space */
  border: 1px solid #ccc; /* Add a solid border with color #ccc */
  padding: 5px; /* Add padding inside the input field */
  box-sizing: border-box; /* Include padding and border in the input field's total width */
  margin-right: 20px; /* Add margin to the right of the input field */
  width: 80%;
}

#dueTimeInput {
  margin: 10px; /* Add margin to the bottom of the input container */
  /* flex: 1; Grow to fill available space */
  border: 1px solid #ccc; /* Add a solid border with color #ccc */
  padding: 5px; /* Add padding inside the input field */
  box-sizing: border-box; /* Include padding and border in the input field's total width */
  margin-right: 20px; /* Add margin to the right of the input field */
  width: 80%;
}




/* buttonsDiv.className = "my-button-container"; */





button {
  border: none; /* Remove default button border */
  padding: 10px; /* Add padding to the button */
  background-color: black; /* Set button background color */
  color: white; /* Set text color to white */
  cursor: pointer; /* Show pointer cursor on hover */
  margin: 10px;
  width: 80%;
  flex-direction: row;
}

/* .my-button-container {
  background-color: red;
} */



.Maintodobody {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: fixed; /* Change to fixed positioning */
  top: 0;
  left: 0;
  height: 100vh; /* Use viewport height to cover the entire vertical space */
  width: 100vw; /* Use viewport width to cover the entire horizontal space */
  /* background-color: red; */
  z-index: -1;
}











#todoList {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  width: 600px;
  height: 35%;
  z-index: 1;
  overflow-y: auto;
  margin: 0; /* Add this line to remove default body margin */
  display: flex;
  flex-direction: column; /* Ensure list items stack vertically */
  align-items: center; /* Center items horizontally */
}

@media (max-width: 768px) {
  /* Change width to 40% for screens smaller than medium */
  #todoList {
    width: 100%;
    bottom: 0;
    height: 35%;
  }
}

#todoList li {
  text-align: center; /* Center the content horizontally */
  display: flex;
  flex-direction: column; /* Ensure list items stack vertically */
  align-items: center; /* Center items horizontally */
}

#completedList {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.6); 
  padding: 20px;
  width: 600px;
  height: 35%;
  z-index: 1;
  overflow-y: auto;
  margin: 0; /* Add this line to remove default body margin */
  display: flex;
  flex-direction: column; /* Ensure list items stack vertically */
  align-items: center; /* Center items horizontally */
}

@media (max-width: 768px) {
  /* Change width to 40% for screens smaller than medium */
  #completedList {
    width: 100%;
    bottom: 0;
    height: 35%;
  }
}

#completedList li {
  text-align: center; /* Center the content horizontally */
  display: flex;
  flex-direction: column; /* Ensure list items stack vertically */
  align-items: center; /* Center items horizontally */
}

/* Remove default list styling */
ul {
  list-style-type: none;
}

/* Add padding to list items */
/* li {
  padding: 25px;
  background-color: lightgreen;
  margin-bottom: 20px;
} */

/* Add padding to list items */
.completed li {
  padding: 25px;
  background-color: lightgreen;
  margin: 0px;
}

.completed {
  text-decoration: line-through; /* Add line-through to completed todo items */
}

.completed {

  text-decoration: line-through; /* Add line-through to completed todo items */
  margin-top: 0px; /* Add margin to the bottom of the lists container */
  background-color: orange;

}

.subtask-button {
  border: none; /* Remove default button border */
  padding: 15px; /* Add padding to the button */
  background-color: green; /* Set button background color */
  color: #fff; /* Set text color to white */
  cursor: pointer; /* Show pointer cursor on hover */
  margin: 10px;
  width: 80%;
}

.subtask {
  background-color: pink;
  padding: 20px;
  width: 70%;
  margin: 20px auto; /* Center horizontally */

}




///


.input-container {
  margin-bottom: 10px; /* Add margin to the bottom of the input container */
}


.lists-container {
  margin-bottom: 10px; /* Add margin to the bottom of the lists container */
  margin-top: 70px; /* Add margin to the bottom of the lists container */
  background-color: pink;
  width: 50%;


}



.Headercontainer {
  background-color: white;
  display: flex;
  justify-content: center; /* Horizontally center the button */;
  align-items: center; /* Center items vertically */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */

}

.logo {
  width: 30px;
  height: 30px;
  justify-content: center;
  margin-right: 15px; /* Add margin to create space between the logo and the header */
}

.Todolist-H1Header {
  color: blue; /* Set text color to red */
  font-size: 24px; /* Set font size */
  /* Add any other styles you want */
  font-family: 'Futura Bold', sans-serif; /* Apply Futura Bold font */
}

.Headerbuttoncontainer {
  background-color: yellow;
  display: flex;
  justify-content: center; /* Horizontally center the button */;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */

}

.Inputbuttoncontainer {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Horizontally center the button */;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
  margin: 20px;
  padding: 5px;
}

/* .Inputbuttoncontainer {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: center; /* Horizontally center the button */;

} */

.button-container {
  display: flex;
  align-items: center;
  
}

.add-button {
  /* margin-right: 20px; */
  width: 240px;
  background-color: #ff7700;
}


.ThreeListcontainer {
  background-color: white;
  display: flex;
  justify-content: center; /* Horizontally center the button */;
}





/* button {
  display: flex;
  justify-content: center; /* Horizontally center the button */;
  margin-right: 5px; /* Add margin to the right of each button */
  background-color: black; /* Set button background color */
} */












